.page-header{
    color: $gray-dark;
    border-bottom: 2px solid $gray-light;
}

//width

.w150{
    width: 150px;
}

.display-inline{
    display: inline;
}

.full-width{
    width: 100%;
}

.shadowPanel{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}